---
import footer from '../components/footer.astro';
---
<html lang="zh">
<head>
    <title>AOSC-website-2024</title>
    <meta charset="utf-8">
</head>
<body>
<div hx-post="../components/footer.astro"></div>
</body>
</html>