---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro"
---
<html lang="zh">
<head>
    <title>AOSC-website-2024</title>
    <meta charset="utf-8">
</head>
<body>
<Footer />
</body>
</html>