<div class="footer" style="{
    background-color: var(--var-secondary-color);
    color: white;
    text-align: center;
    padding: 5px 10px;
}">
    <div class="container" style="{
    color: white;
    text-decoration: none;
    margin: 12px;
}">
        <span style="margin: 12px;">&copy; 安同开源社区 2011 - 2024</span><span>|</span>
        <a>网页源码</a> <span>|</span> <a href="">报告内容问题</a>
    </div>
</div>
