<div class="navbar">
    <div class="navbar-placeholder"></div>
</div>
<div class="logo">
    <a href="/">
        <img src="/src/static/images"
             style="position: absolute; top: 50px;margin-left: 25px; width: 276px; z-index: 999;">
    </a>
    <img alt="Logo" src="/src/static/images/" style="width: 1024px;object-fit: cover;height: 160px;">
</div>
